/vendor/
/node_modules/
/public/build/
/public/storage
.env
.env.*
.phpunit.result.cache
/storage/*.key
/storage/app/*
!/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*.php
/database/database.sqlite
/.idea/
/.vscode/
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
